[submodule "content/themes/vapor"]
	path = content/themes/vapor
	url = https://github.com/sethlilly/Vapor.git
[submodule "content/themes/casper"]
	path = content/themes/casper
	url = https://github.com/TryGhost/Casper.git
[submodule "content/themes/froyo"]
	path = content/themes/froyo
	url = https://github.com/adriannorman/froyo-ghost-theme.git
[submodule "content/themes/ghostwriter"]
	path = content/themes/ghostwriter
	url = https://github.com/roryg/ghostwriter
